@media screen {
	html {
	  font-size: 100%;
	}
	html,
	body {
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  font-family: sans-serif;
	}
	body {
	  background-color: #f6f6f6;
	  overflow-y: scroll;
	}
	/* Content */
	.mw-body,
	.parsoid-body {
	  background-color: #ffffff;
	  color: #222222;
	  padding: 1em;
	  direction: ltr;
	}
	.mw-body,
	#mw-data-after-content {
	  margin-left: 10em;
	}
	.mw-body {
	  /* Border on top, left, and bottom side */
	  border: 1px solid #a7d7f9;
	  border-right-width: 0;
	  /* Merge the border with tabs' one (in their background image) */
	  margin-top: -1px;
	}
	.mw-body h1,
	.mw-body-content h1,
	.mw-body-content h2 {
	  margin-bottom: 0.25em;
	  padding: 0;
	  font-family: 'Linux Libertine', 'Georgia', 'Times', serif;
	  line-height: 1.3;
	  /* Burmese (Myanmar) language headlines would be cropped with set `line-height` */
	  /* See T193270 */
	}
	.mw-body h1:lang( ja ),
	.mw-body-content h1:lang( ja ),
	.mw-body-content h2:lang( ja ),
	.mw-body h1:lang( he ),
	.mw-body-content h1:lang( he ),
	.mw-body-content h2:lang( he ),
	.mw-body h1:lang( ko ),
	.mw-body-content h1:lang( ko ),
	.mw-body-content h2:lang( ko ) {
	  /* See T65827 */
	  font-family: sans-serif;
	}
	.mw-body h1:lang( my ),
	.mw-body-content h1:lang( my ),
	.mw-body-content h2:lang( my ) {
	  line-height: normal;
	}
	.mw-body h1,
	.mw-body-content h1 {
	  font-size: 1.8em;
	}
	.mw-body .firstHeading {
	  /* Change the default from mediawiki.skinning CSS to let indicators float into heading area */
	  overflow: visible;
	}
	.mw-body .mw-indicators {
	  float: right;
	  font-size: 0.875em;
	  line-height: 1.6;
	  /* Ensure that this is displayed on top of .mw-body-content and clickable */
	  position: relative;
	  z-index: 1;
	}
	.mw-body .mw-indicator {
	  display: inline-block;
	}
	.mw-body-content {
	  position: relative;
	  font-size: 0.875em;
	  line-height: 1.6;
	  z-index: 0;
	}
	.mw-body-content p {
	  margin: 0.5em 0;
	}
	.mw-body-content h1 {
	  margin-top: 1em;
	}
	.mw-body-content h2 {
	  margin-top: 1em;
	  font-size: 1.5em;
	}
	.mw-body-content h3,
	.mw-body-content h4,
	.mw-body-content h5,
	.mw-body-content h6 {
	  margin-top: 0.3em;
	  margin-bottom: 0;
	  padding-bottom: 0;
	  line-height: 1.6;
	}
	.mw-body-content h3 {
	  font-size: 1.2em;
	}
	.mw-body-content h3,
	.mw-body-content h4 {
	  font-weight: bold;
	}
	.mw-body-content h4,
	.mw-body-content h5,
	.mw-body-content h6 {
	  font-size: 100%;
	}
	.mw-body-content .toc h2 {
	  font-family: sans-serif;
	  font-size: 100%;
	}
	/* Allow edit sections outside of mw-body-content (T160269) */
	.mw-editsection,
	.mw-editsection-like {
	  font-family: sans-serif;
	}
	/* Hide empty portlets */
	.emptyPortlet {
	  display: none;
	}
	ul {
	  list-style-image: url(/w/skins/Vector/resources/skins.vector.styles/images/bullet-icon.svg?872f1);
	}
	pre,
	.mw-code {
	  line-height: 1.3;
	}
	/* Site Notice (includes notices from CentralNotice extension) */
	#siteNotice {
	  font-size: 0.8em;
	}
	/* Personal */
	#p-personal {
	  position: absolute;
	  top: 0.33em;
	  right: 0.75em;
	  /* Display on top of page tabs - bugs 37158, 48078 */
	  z-index: 100;
	}
	#p-personal h3 {
	  display: none;
	}
	#p-personal ul {
	  list-style: none none;
	  margin: 0;
	  padding-left: 10em;
	  /* Keep from overlapping logo */
	}
	#p-personal li {
	  float: left;
	  margin-left: 0.75em;
	  padding-top: 0.5em;
	  font-size: 0.75em;
	  line-height: 1.16666667;
	  white-space: nowrap;
	}
	/* Icon for registered user names & anonymous message */
	#pt-anonuserpage,
	#pt-userpage a {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/user-avatar.png?59494);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/user-avatar.svg?b7f58);
	  background-position: left 0.33333333em;
	  background-repeat: no-repeat;
	  background-size: 1.16666667em 1.16666667em;
	  padding-top: 0.5em !important;
	  padding-left: 16px !important;
	}
	#pt-userpage {
	  padding-top: 0 !important;
	}
	#pt-userpage a {
	  display: inline-block;
	}
	/* Show anonymous "Not logged in" text in gray */
	#pt-anonuserpage {
	  color: #54595d;
	}
	/* Search */
	#p-search {
	  float: left;
	  margin-right: 0.5em;
	  margin-left: 0.5em;
	}
	#p-search h3 {
	  display: block;
	  position: absolute !important;
	  /* stylelint-disable-line declaration-no-important */
	  clip: rect(1px, 1px, 1px, 1px);
	  width: 1px;
	  height: 1px;
	  margin: -1px;
	  border: 0;
	  padding: 0;
	  overflow: hidden;
	}
	#p-search form {
	  margin: 0.5em 0 0;
	}
	#simpleSearch {
	  display: block;
	  width: 13.2em;
	  width: 20vw;
	  /* responsive width */
	  min-width: 5em;
	  max-width: 20em;
	  height: 100%;
	  margin-top: 0;
	  position: relative;
	}
	#simpleSearch input {
	  margin: 0;
	}
	#searchInput {
	  background-color: #ffffff;
	  background-color: rgba(255, 255, 255, 0.5);
	  color: #000000;
	  width: 100%;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  border: 1px solid #a2a9b1;
	  border-radius: 2px;
	  padding: 0.4em 1.84615385em 0.4em 0.4em;
	  -webkit-box-shadow: inset 0 0 0 1px transparent;
	  box-shadow: inset 0 0 0 1px transparent;
	  font-size: 0.8125em;
	  direction: ltr;
	  -webkit-transition: border-color 250ms, box-shadow 250ms;
	  -moz-transition: border-color 250ms, box-shadow 250ms;
	  transition: border-color 250ms, box-shadow 250ms;
	  -webkit-appearance: textfield;
	}
	#simpleSearch:hover #searchInput {
	  border-color: #72777d;
	}
	#searchInput:focus,
	#simpleSearch:hover #searchInput:focus {
	  outline: 0;
	  border-color: #3366cc;
	  -webkit-box-shadow: inset 0 0 0 1px #3366cc, inset 0 0 0 2px #ffffff;
	  box-shadow: inset 0 0 0 1px #3366cc, inset 0 0 0 2px #ffffff;
	}
	#searchInput::-webkit-input-placeholder {
	  color: #72777d;
	  opacity: 1;
	}
	#searchInput:-ms-input-placeholder {
	  color: #72777d;
	  opacity: 1;
	}
	#searchInput::-moz-placeholder {
	  color: #72777d;
	  opacity: 1;
	}
	#searchInput:-moz-placeholder {
	  color: #72777d;
	  opacity: 1;
	}
	#searchInput::placeholder {
	  color: #72777d;
	  opacity: 1;
	}
	#searchInput::-webkit-search-decoration,
	#searchInput::-webkit-search-cancel-button,
	#searchInput::-webkit-search-results-button,
	#searchInput::-webkit-search-results-decoration {
	  -webkit-appearance: textfield;
	}
	#searchButton,
	#mw-searchButton {
	  background-color: transparent;
	  position: absolute;
	  top: 1px;
	  bottom: 1px;
	  right: 1px;
	  min-width: 24px;
	  width: 1.84615385em;
	  border: 0;
	  padding: 0;
	  cursor: pointer;
	  font-size: 0.8125em;
	  /* Opera 12 on RTL flips the text in a funny way without this. */
	  /* @noflip */
	  direction: ltr;
	  /* Hide button text and replace it with the image. */
	  text-indent: -99999px;
	  white-space: nowrap;
	  overflow: hidden;
	  z-index: 1;
	}
	#searchButton {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/search.png?39f97);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/search.svg?4d50a);
	  background-position: center center;
	  background-repeat: no-repeat;
	}
	#mw-searchButton {
	  z-index: 1;
	}
	/**
	 * Styling for namespace tabs (page, discussion) and views (read, edit, view history, watch and other actions)
	 */
	/* Namespaces and Views */
	.vectorTabs {
	  background-position: left bottom;
	  float: left;
	  height: 2.5em;
	  padding-left: 1px;
	  /* Navigation Labels */
	}
	.vectorTabs h3 {
	  display: none;
	}
	.vectorTabs ul {
	  float: left;
	  height: 100%;
	  list-style: none none;
	  margin: 0;
	  padding: 0;
	}
	.vectorTabs li {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/tab-normal-fade.png?1cc52);
	  background-image: linear-gradient(to top, #77c1f6 0, #e8f2f8 1px, #ffffff 100%);
	  background-position: left bottom;
	  background-repeat: repeat-x;
	  float: left;
	  display: block;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  line-height: 1.125em;
	  white-space: nowrap;
	}
	.vectorTabs li a {
	  background-position: right bottom;
	  color: #0645ad;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  display: block;
	  float: left;
	  height: 3.07692308em;
	  position: relative;
	  padding-top: 1.25em;
	  padding-left: 8px;
	  padding-right: 8px;
	  font-size: 0.8125em;
	  cursor: pointer;
	}
	.vectorTabs .new a,
	.vectorTabs .new a:visited {
	  color: #a55858;
	}
	.vectorTabs .selected {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/tab-current-fade.png?22887);
	  background: #ffffff;
	}
	.vectorTabs .selected a,
	.vectorTabs .selected a:visited {
	  color: #222222;
	  text-decoration: none;
	}
	.vectorTabs .icon a {
	  background-position: right bottom;
	  background-repeat: no-repeat;
	}
	/* Variants and Actions */
	.vectorMenu {
	  direction: ltr;
	  float: left;
	  cursor: pointer;
	  position: relative;
	  line-height: 1.125em;
	}
	.vectorMenu h3 {
	  color: #444444;
	  position: relative;
	  display: block;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  padding-top: 1.25em;
	  padding-left: 8px;
	  padding-right: 1.84615385em;
	  font-size: 0.8125em;
	  font-weight: normal;
	}
	.vectorMenu h3:after {
	  content: '';
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/arrow-down.png?42edd);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/arrow-down.svg?2f021);
	  background-position: 100% 50%;
	  background-repeat: no-repeat;
	  position: absolute;
	  top: 0.76923077em;
	  right: 8px;
	  bottom: 0;
	  width: 1.23076923em;
	  opacity: 0.85;
	}
	.vectorMenu h3:hover,
	.vectorMenu h3:focus {
	  color: #222222;
	}
	.vectorMenu h3:hover:after,
	.vectorMenu h3:focus:after {
	  opacity: 1;
	}
	.vectorMenu .menu {
	  background-color: #ffffff;
	  list-style: none none;
	  min-width: 100%;
	  position: absolute;
	  top: 2.5em;
	  left: -1px;
	  margin: 0;
	  border: 1px solid #a2a9b1;
	  border-top-width: 0;
	  padding: 0;
	  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	  text-align: left;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: opacity 100ms;
	  -moz-transition: opacity 100ms;
	  transition: opacity 100ms;
	  z-index: 2;
	}
	.vectorMenu:hover .menu {
	  opacity: 1;
	  visibility: visible;
	}
	.vectorMenu .vectorMenuCheckbox:checked ~ .menu {
	  opacity: 1;
	  visibility: visible;
	}
	.vectorMenu li {
	  padding: 0;
	  margin: 0;
	  text-align: left;
	  line-height: 1em;
	}
	.vectorMenu li a {
	  color: #0645ad;
	  display: block;
	  padding: 0.625em;
	  white-space: nowrap;
	  cursor: pointer;
	  font-size: 0.8125em;
	}
	.vectorMenu .selected a,
	.vectorMenu .selected a:visited {
	  color: #222222;
	  text-decoration: none;
	}
	#mw-head .vectorMenu h3 {
	  background-position: right bottom;
	  float: left;
	  height: 3.07692308em;
	  margin: 0 -1px 0 0;
	  padding-right: 1.84615385em;
	}
	.vectorTabs,
	.vectorTabs a,
	#mw-head .vectorMenu h3 {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/tab-separator.png?09d4b);
	  background-image: linear-gradient(to bottom, rgba(167, 215, 249, 0) 0, #a7d7f9 100%);
	  background-repeat: no-repeat;
	  background-size: 1px 100%;
	}
	.vectorMenuCheckbox {
	  cursor: pointer;
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1;
	  opacity: 0;
	  width: 100%;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  display: none;
	}
	:not( :checked ) > .vectorMenuCheckbox {
	  display: block;
	}
	.vectorMenuCheckbox:checked + h3:after {
	  transform: scaleY(-1);
	}
	.vectorMenuCheckbox:focus + h3 {
	  outline: dotted 1px;
	  outline: auto -webkit-focus-ring-color;
	}
	@-webkit-keyframes rotate {
	  from {
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@-moz-keyframes rotate {
	  from {
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	@keyframes rotate {
	  from {
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	/* Watch/Unwatch Icon Styling */
	/* Only use icon if the menu item is not collapsed into the "More" dropdown
	 * (in which case it is inside .vectorMenu instead of .vectorTabs). */
	.vectorTabs .mw-watchlink.icon a {
	  width: 2.15384615em;
	  /* This hides the text but shows the background image */
	  /* Must not exceed parent's height, otherwise the background disappears on Chrome (T196610) */
	  height: 0;
	  padding: 3.07692308em 0 0 0;
	  overflow: hidden;
	}
	.vectorTabs .mw-watchlink.icon a:before {
	  background-repeat: no-repeat;
	  background-position: 50% 50%;
	  content: '';
	  display: block;
	  position: absolute;
	  top: 1.07692308em;
	  left: 0.38461538em;
	  width: 1.23076923em;
	  height: 1.23076923em;
	}
	.vectorTabs #ca-unwatch.icon a:before {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/unwatch-icon.png?fccbe);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/unwatch-icon.svg?725e9);
	}
	.vectorTabs #ca-watch.icon a:before {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/watch-icon.png?e1b42);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/watch-icon.svg?d3c31);
	}
	.vectorTabs #ca-unwatch.icon a:hover:before,
	.vectorTabs #ca-unwatch.icon a:focus:before {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/unwatch-icon-hl.png?c4723);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/unwatch-icon-hl.svg?71c12);
	}
	.vectorTabs #ca-watch.icon a:hover:before,
	.vectorTabs #ca-watch.icon a:focus:before {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/watch-icon-hl.png?f4c7e);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/watch-icon-hl.svg?26a8a);
	}
	.vectorTabs #ca-unwatch.icon .loading:before,
	.vectorTabs #ca-watch.icon .loading:before {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/watch-icon-loading.svg?34b1f);
	  -webkit-animation: rotate 700ms infinite linear;
	  -moz-animation: rotate 700ms infinite linear;
	  animation: rotate 700ms infinite linear;
	  /* Suppress the hilarious rotating focus outline on Firefox */
	  outline: 0;
	  cursor: default;
	  pointer-events: none;
	  -webkit-transform-origin: 50% 50%;
	  transform-origin: 50% 50%;
	}
	/* Hide, but keep accessible for screen-readers */
	#mw-navigation h2 {
	  position: absolute;
	  top: -9999px;
	}
	.mw-jump-link:not( :focus ) {
	  display: block;
	  position: absolute !important;
	  /* stylelint-disable-line declaration-no-important */
	  clip: rect(1px, 1px, 1px, 1px);
	  width: 1px;
	  height: 1px;
	  margin: -1px;
	  border: 0;
	  padding: 0;
	  overflow: hidden;
	}
	/* Head */
	#mw-page-base {
	  background-position: bottom left;
	  height: 5em;
	  background-color: #fbfbfb;
	  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(50%, #ffffff), color-stop(100%, #f6f6f6));
	  background-image: -webkit-linear-gradient(top, #ffffff 50%, #f6f6f6 100%);
	  background-image: -moz-linear-gradient(top, #ffffff 50%, #f6f6f6 100%);
	  background-image: linear-gradient(to bottom, #ffffff 50%, #f6f6f6 100%);
	}
	#mw-head-base {
	  margin-top: -5em;
	  margin-left: 10em;
	  height: 5em;
	}
	#mw-head {
	  position: absolute;
	  top: 0;
	  right: 0;
	  width: 100%;
	}
	/* Navigation Containers */
	#left-navigation {
	  float: left;
	  margin-left: 10em;
	  margin-top: 2.5em;
	  /* When right nav would overlap left nav, it's placed below it
		   (normal CSS floats behavior). This rule ensures that no empty space
		   is shown between them due to right nav's margin-top. Page layout
		   is still broken, but at least the nav overlaps only the page title
		   instead of half the content. */
	  margin-bottom: -2.5em;
	}
	#right-navigation {
	  float: right;
	  margin-top: 2.5em;
	}
	/* Logo */
	#p-logo {
	  width: 10em;
	  height: 160px;
	}
	#p-logo a {
	  background-position: center center;
	  background-repeat: no-repeat;
	  display: block;
	  width: 10em;
	  height: 160px;
	  text-decoration: none;
	}
	/* Panel */
	#mw-panel {
	  position: absolute;
	  top: 0;
	  width: 10em;
	  left: 0;
	  font-size: inherit;
	  /* First sidebar portlet. Not using :first-of-type for IE<=8 support. */
	}
	#mw-panel .portal {
	  margin: 0 0.6em 0 0.7em;
	  padding: 0.25em 0;
	  direction: ltr;
	}
	#mw-panel .portal h3 {
	  color: #444444;
	  font-weight: normal;
	  margin: 0.5em 0 0 0.66666667em;
	  padding: 0.25em 0;
	  cursor: default;
	  border: 0;
	  font-size: 0.75em;
	}
	#mw-panel .portal .body {
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/portal-separator.png?4ab04);
	  background-image: linear-gradient(to right, transparent 0, #c8ccd1 35%, #c8ccd1 70%, transparent 100%);
	  background-repeat: no-repeat;
	  background-size: 100% 1px;
	  margin-left: 0.5em;
	  padding-top: 0;
	}
	#mw-panel .portal .body ul {
	  list-style: none none;
	  margin: 0;
	  padding-top: 0.3em;
	}
	#mw-panel .portal .body li {
	  margin: 0;
	  padding: 0.25em 0;
	  font-size: 0.75em;
	  line-height: 1.125em;
	  word-wrap: break-word;
	}
	#mw-panel .portal .body li a {
	  color: #0645ad;
	}
	#mw-panel .portal .body li a:visited {
	  color: #0b0080;
	}
	#mw-panel #p-logo + .portal {
	  background-image: none;
	  margin-top: 1em;
	}
	#mw-panel #p-logo + .portal h3 {
	  display: none;
	}
	#mw-panel #p-logo + .portal .body {
	  background-image: none;
	  margin-left: 0.5em;
	}
	/* Footer */
	#footer {
	  margin-left: 10em;
	  margin-top: 0;
	  padding: 0.75em;
	  direction: ltr;
	}
	#footer ul {
	  list-style: none none;
	  margin: 0;
	  padding: 0;
	}
	#footer li {
	  color: #222222;
	  margin: 0;
	  padding: 0.5em 0;
	  font-size: 0.7em;
	}
	#footer-icons {
	  float: right;
	}
	#footer-icons li {
	  float: left;
	  margin-left: 0.5em;
	  line-height: 2;
	  text-align: right;
	}
	#footer-info li {
	  line-height: 1.4;
	}
	#footer-places li {
	  float: left;
	  margin-right: 1em;
	  line-height: 2;
	}
	.mw-parser-output .external {
	  background-position: center right;
	  background-repeat: no-repeat;
	  background-image: url(/w/skins/Vector/resources/skins.vector.styles/images/external-link-ltr-icon.png?325de);
	  background-image: linear-gradient(transparent, transparent), url(/w/skins/Vector/resources/skins.vector.styles/images/external-link-ltr-icon.svg?b4b84);
	  padding-right: 13px;
	}}@media screen and ( min-width: 982px ) {
	/* Vector screen styles for high definition displays */
	/**
	 * Minimum available screen width at which a device can be considered a mobile device
	 * Many older feature phones have screens smaller than this value.
	 * Number is prone to change with new information.
	 * @since 1.31
	 */
	/**
	 * Minimum available screen width at which a device can be considered a tablet
	 * The number is currently based on the device width of a Samsung Galaxy S5 mini and is low
	 * enough to cover iPad (768px). Number is prone to change with new information.
	 * @since 1.31
	 */
	/**
	 * Minimum available screen width at which a device can be considered a desktop
	 * Number is prone to change with new information.
	 * @since 1.31
	 */
	.mw-body,
	#mw-head-base,
	#left-navigation,
	#mw-data-after-content,
	#footer {
	  margin-left: 11em;
	}
	.mw-body {
	  padding: 1.25em 1.5em 1.5em 1.5em;
	}
	#footer {
	  padding: 1.25em;
	}
	#mw-panel {
	  padding-left: 0.5em;
	}
	#p-search {
	  margin-right: 1em;
	}
	#p-personal {
	  right: 1em;
	}}

@media print {
}